Repository Petching/Petching, pull requests merged in 2023-06, with the labels that each got.

#15 [Layout / Feat] 기본 Router 설정
  client/package-lock.json
  client/package.json
  client/src/App.tsx
  client/src/Layout/Contents/Contents.tsx
  client/src/Layout/Footer/Footer.tsx
  client/src/Layout/GeneraLayout.tsx
  client/src/Layout/Header/GNB.tsx
  client/src/Layout/Header/Header.tsx
  client/src/Page/Main.tsx
  client/src/Page/signUp.tsx
  client/src/router.tsx
Labels: 🧃Feat, ✨Layout

#16 [feat]chattingList, chatting 페이지 구현
  .github/ISSUE_TEMPLATE/issue-template.md
  client/package-lock.json
  client/package.json
  client/src/App.tsx
  client/src/Components/chatListComponent.tsx
  client/src/Components/chattingComponent.tsx
  client/src/Page/chatList.tsx
  client/src/Page/chatting.tsx
  client/src/Util/types.ts
Labels: 🧃Feat

#17 [feat] 메인페이지
  client/src/App.tsx
  client/src/Components/Main/Explan.tsx
  client/src/Components/Main/Info.tsx
  client/src/Components/Main/Member.tsx
  client/src/Components/Main/Peacock.tsx
  client/src/Page/Main.tsx
  client/src/react-app-env.d.ts
  client/src/router.tsx
Labels: 🧃Feat

#26 [design] Header, 기본 CSS 컬러 변경
  client/src/Components/Main/Info.tsx
  client/src/Layout/Contents/Contents.tsx
  client/src/Layout/Footer/Footer.tsx
  client/src/Layout/Header/GNB.tsx
  client/src/Layout/Header/Header.tsx
  client/src/assets/image/icon_Pet.png
  client/src/index.css
Labels: ✨Layout

#28 [design] 유저 페이지 기본 레이아웃 구성
  client/src/Components/User/AddPet.tsx
  client/src/Components/User/MyLikes.tsx
  client/src/Components/User/MyPets.tsx
  client/src/Components/User/MyPost.tsx
  client/src/Components/User/PetCard.tsx
  client/src/Components/User/UserInfo.tsx
  client/src/Page/User.tsx
Labels: ✨Layout

#29 [design] tailwind 색상 추가 및 Main, User 페이지 적용
  client/src/Components/Main/Info.tsx
  client/src/Components/Main/Peacock.tsx
  client/src/Components/User/MyPets.tsx
  client/src/Components/User/PetCard.tsx
  client/src/Components/User/UserInfo.tsx
  client/src/Layout/Header/GNB.tsx
  client/src/Layout/Header/Header.tsx
  client/src/Page/User.tsx
  client/src/Style/icon_Pet.png
  client/tailwind.config.js
Labels: ✨Layout
